* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #3C354F;
}

/* universal class */
.pink {
    color: #ff42a5;
}

.primary-btn {
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 50px;
    font-weight: 600;
    border: none;
    background-color: #ff42a5;
    color: #fff;
}

.primary-btn2 {
    background-color: #4EC5F7;
}

.coloring {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header section  */
header {
    max-width: 80%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu>li {
    list-style: none;
    margin-right: 15px;
}

.menu li a {
    text-decoration: none;
}

#menu-bar1 {
    background-color: lightgray;
    color: #fff;
    border-radius: 6px;
    padding: 8px;
}

.logo-title {
    font-size: 2rem;
    font-weight: 600;
}

.menu-bar {
    font-size: 1.25rem;
    font-weight: 500;
}

/* header section ends */

/* main starts */

/* banner section */
.banner {
    background-color: #fef8dd;
}

.bannerr {
    max-width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.banner-img img {
    width: 35vw;
}

.banner-title {
    font-size: 1.8rem;
}

.banner-tt {
    font-size: 3rem;
    font-weight: 800;
}

.banner-desc {
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* banner section ends */

/* funny video section */
.funny-videos-container {
    max-width: 80%;
    margin: 120px auto;
}

.f-videos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.f-videos img {
    width: 19vw;
}

.fv-content {
    text-align: center;
}

.f-videos img:hover {
    filter: brightness(70%);
}

.fv-title {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.fv-desc {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 25px;
}

/* funny video section ends */

/* player gamers section */
.playergames-container{
    max-width: 80%;
    margin: 130px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.playergames-content{
    width: 30vw;
}
.pl-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.pl-desc{
    font-size: 1rem;
    font-weight: 500;
}
.pl-img .i78{
    width: 15vw;
    position: absolute;
    top: 1550px;
    left: 450px;
}
.pl-img .i67{
    width: 30vw;
}

/* player gamers section ends */
/* games section  */
.games{
    max-width: 80%;
    margin: 200px auto;
}
.games-category{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.game-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 10px;
}
.game-icon h5{
    font-size: .8rem;
    font-weight: 600;
}
.game-icon:hover{
    border: 2px solid #ff42a5;
    border-radius: 50px;
    cursor: pointer;
}
.game-icon h5:hover{
    color: #ff42a5;
}

/* games section ends */


/* media query */
@media screen and (max-width:922px) and (min-width: 577px) {
    header {
        flex-direction: column;
    }

    .header-logo {
        margin-bottom: 20px;
    }
    .pl-img .i78{
        top: 1200px;
        left: 255px;
    }
    .game-icon{
        gap: 10px;
    }
    
}

@media screen and (max-width: 576px) {

    header,
    .menu
    {
        flex-direction: column;
    }

    .bannerr,
    .playergames-container
     {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .header-logo {
        margin-bottom: 20px;
    }

    .menu li {
        margin-bottom: 8px;
    }

    .bannerr {
        text-align: center;
        /* margin: 8px auto; */
    }

    .banner-img img {
        width: 65vw;
    }
    
    .playergames-content{
        width: 100%;
    }
    .pl-img .i78{
        width: 25vw;
        top: 1700px;
        left: 235px;
    }
    .pl-img .i67{
        width: 45vw;
    }
    .game-icon{
        gap: 10px;
    }
}